apiVersion: v1
kind: Service
metadata:
  name: flask-service
  labels:
    app: flask
spec:
  type: NodePort
  selector:
    app: flask
  ports:
  - port: 8001
    targetPort: 30000
    nodePort: 30013 
    #generacion del puerto de acceso  CD kubernetes
